*,
html,
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  font-weight: 400;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
